# Base de données
*.db
*.sqlite
*.sqlite3

# Environnement virtuel Python
venv/
env/
.venv/
ENV/

# Fichiers cachés de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Fichiers de PyCharm
.idea/
*.iml

# Fichiers de session
.vscode/
.DS_Store
